<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>

    <!--<sessionState mode="Off"></sessionState> --><!--Off mode : desiable session in entire application--> 
    <sessionState mode="InProc" timeout="20"></sessionState>  <!--InProc mode-->
    <!--<sessionState mode="InProc" timeout="20" cookieless="true"></sessionState>--> <!--Cookieless mode-->
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" timeout="20"></sessionState>--> <!--StateServer mode-->
    <!--<sessionState mode="SQLServer" sqlConnectionString="data source =.; User Id=sa; Password=123;" timeout="20"></sessionState>--> <!--SQLServer mode-->
    <!--<sessionState mode ="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="data source = 185.10.75.8; user id = newsadmin; password = Ali@2018" timeout="20"></sessionState>--> <!--SQLServer custom mode on server-->
    <!--<sessionState mode ="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="data source = .; database = newsdb; user id = sa; password = 123" timeout="20"></sessionState>--><!--SQLServer custom mode on local machine-->
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration> 